/* =========================
          Layout Styles 
   ========================= */

   .clearfix {
   	clear: both;
   	content: "";
    display: table;
   }

   .wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

   .l-list-two-column {
    float: left;
   	width: 50%;
   }

   .l-list-inline {
    display: inline-block;
   }

   @media only screen and (max-width: 720px) {

   .wrapper {
    position: relative;
    max-width: 100vw;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
   
}