/* =========================
          Theme Styles 
   ========================= */

   body {
   	background: #000 url("../img/bg.jpg") center center fixed;
   	background-size: cover;
   }

   .wrapper {
   	max-width: 500px;
   	background: #fff;
   	margin: 0 auto;
   }

   .weather-area {
    background: #f2f7ff;
}