/* =========================
          Theme Styles 
   ========================= */

   body {
   	background: $black url("../img/bg.jpg") center center fixed;
   	background-size: cover;
   }

   .dark-bg {
      background: $black;
      color: $white;
   }

   .light-bg {
    background: $light;
    color: $black;
   }

   .yeollow-bg {
      background: $yeollow;
      color: $black;
   }

   .text-yeollow {
      color: $yeollow;
   }