/* =========================
          Theme Styles 
   ========================= */

  .dark-bg {
      background: $black;
      color: $white;
   }

   .light-bg {
    background: $light;
    color: $black;
   }

   .yeollow-bg {
      background: $yeollow;
      color: $black;
   }

   .text-yeollow {
      color: $yeollow;
   }

   #weather-area {
      height: 145px;
   }

   #tempareture-area {
      height: 161px;
   }

   #sun-area {
      height: 69px;
  }